body>*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    /* display: flex; */
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.m-container{
    max-width: 1155px;
    margin: 0 auto;
}
header{
    /* display: flex; */
    padding: 0px 181px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 65px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f5f5f5;
}
/* header .logo{
    width: 125px;
    height: 60px;
} */
header .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header img{
    width: 115px;
    height: 55px;
    cursor: pointer;
}

header button{
    width: 78px;
    height: 49px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: hsl(2.84deg 76.24% 52.28%);
    border: none;
    place-self: end;
    padding: 0;
}

header button:hover{
    cursor: pointer;
    /* color: b lack; */
    font-weight: 600;
    font-size: 14px;
    background-color: hsl(2.84deg 8.26% 39.86%);
}
 
header .sign-up{
    place-self: end;
}
header ul{
    display: flex;
    padding: unset;
    column-gap: 8px;
    }

header ul li{
    display: flex;
    text-decoration: none;
    font-size: 19px;
    padding: 15px;
}

header ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hero-section{
    display: flex;
    /* background-color: rgba(0, 255, 255, 0.138); */
    /* height: 620px; */
    padding-top: 100px;
    padding-bottom: 42px;
}
.hero-section>*{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content h1{
    font-size: 88px;
    font-weight: 700;
    margin: unset;
}
.content p{
    width: 359px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 4px;
    margin: 11px 0px 25px 0px;
    color: #0000008c;
}
.buttons .btn1{
    padding: 6px 10px;
    font-size: 21px;
    background-color: hsl(2.84deg 76.24% 52.28%);
    border: 0.5px solid hsl(2.84deg 76.24% 52.28%);
    color: white;
    margin-right: 30px;
}
.buttons .btn1:hover{
    border: 0.5px solid hsl(2.84deg 30.12% 46.23%);
    background-color: hsl(2.84deg 8.26% 39.86%);
    cursor: pointer;
}

.buttons .btn2{
    padding: 6px 10px;
    font-size: 21px;
    background-color: white;
    color: #000000a6;
    border: 0.5px solid #000000a6;
}
.buttons .btn2:hover{
    cursor: pointer;
    background-color: hsl(2.84deg 8.26% 39.86%);
    color: white;
    border: none;
}
.content .other-web{
    margin: 28px 0px 6px 0px;
}
.web-logos img{
    margin-right: 9px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.shoe{
    display: flex;
    width: 50%;
    transform: rotate(347deg);
    /* cursor: pointer; */
}
.shoe img{
    width: 463px;
    height: 347px;
    margin: 50px 0px 0px 50px;
}


.banner{
    display: flex;
    width: 100%;
    height: 370px;
    justify-content: space-between;
    gap: 1px;
}

.img{
    width: 50%;

}

.label-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    padding: 0px 225px 55px 225px;;
}
.label-1>*{
    margin: 0;
    padding: 0;
}
.text-1{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
}
.label-1 h1{
    letter-spacing: -3px;
    font-size: 68px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 22px;
}
.text-2{
    font-size: 18px;
    line-height: 1.4;
}

/* button goes here */

.shop-now{
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    border-radius: 25px;
    font-weight: 600;
    margin-top: 29px;
    border: none;
}
.label-1 .shop-now:hover{
    background-color: #6f6f71;
    cursor: pointer;
}


/* footer goes here */
/* footer goes here */

footer{
    background-color: #111111;
    padding: 40px 0px 0px 0px;
}
footer .column >*{
    margin: 0;
    padding: 0;
}

.footer-wrapper{
    /* display: flex; */
    width: 1351px;
    margin: 0 auto;
}
footer .top{
    display: flex;
    flex-direction: row;
    gap: 4px;
    /* height: 316px; */    
    width: 1351px;
    /* margin: 0 auto;  */
}

/* footer left   */
/* footer left   */

footer .top .left{
    display: flex;
    width: 90%;
    /* background-color: #f0ffff0f; */
}
footer .top .column1 ul{
    row-gap: 12px  ;
}
footer .top .column{
    display: flex;
    padding: 6px;
}
footer .top .left  ul{
    display: flex;
    flex-direction: column;
    width: 241px;
    row-gap: 15px;
}
footer .top .left ul .bold{
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
footer .top ul li{
    list-style-type: none;
}
footer .top ul li a{
    text-decoration: none;
    color: white;
}
footer .top .column .opt a{
    font-size: 12px;
    color: #787878;
    font-weight: 600;
}

footer .top .column .opt a:hover{
    color: #ffffff;
}





/* footer right   */
/* footer right   */

footer .top .right{
    width: 10%;
    /* background-color: #f0ffff0f; */
}

.icons{
    display: flex;
    justify-content: space-between;
    /* gap: 13px; */
}
.fa-brands {
    font-size: 26px;
    color: #7e7e7e;
}
.fa-brands:hover {
    color: #ffffff;
}

/* footer bottom goes here  */
/* footer bottom goes here  */


footer .bottom{
    display: flex;
    justify-content: space-between;
    /* height: 102px;/z */
    padding: 0px 10px 0px 10px;
    /* background-color: #f9f9f933; */
}
footer .bottom .left{
    padding-top: 75px;
    display: flex;
    padding-bottom: 20px;
}
footer .bottom .left>*{
    display: flex;
}
footer .bottom .left .location{
    display: flex;
}
footer .bottom .left .location a{
    display: flex;
    color: white;
}
footer .bottom .left .location a i{
    margin-right: 11px;
    font-size: 14px;
}
footer .bottom .left .location a p{
    font-size: 12px;
    font-weight: 600;
}

footer .bottom .left p{
    margin: unset;
    padding: unset;
}

footer .copyright{
    font-size: 12px;
    margin-left: 12px;
    color: #787878; 
}
footer .copyright>*{
    color: #787878;
    font-size: 12px;
}
footer .left .copyright p{
    margin-left: 5px;
    font-weight: 600;
}



/* footer bottom right goes here  */
/* footer bottom right goes here  */
footer .bottom .right{
    display: flex;
    /* background-color: #ffffff33;     */
    padding-top: 33px;
    width: 590px;
}

footer .bottom .right>*{
    margin: unset;
    padding: unset;
}
footer .bottom .right ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: end;
}
footer .bottom .right ul li{
    margin-right: 12px;
    padding: 4px 2px 4px 2px;
    font-weight: 600;
}
footer .bottom .right ul{
    height: 1em;
    row-gap: 2px;
}
footer .bottom .right ul li a{
    padding: 6px 4px;
    font-size: 12px;
    color: #787878;
}
footer .bottom .right ul li a:hover{
    color: #fff;
}











